<?php
?>
{{ attach_library('shop/computers-to-end-styling') }}
<!-- section start -->
<div class="computers_section layout_padding">
  <div class="container">
    <h1 class="computers_taital">Watch</h1>
  </div>
</div>
<div class="computers_section_2">
  <div class="container-fluid">
    <div class="computer_main">
      <div class="row">
        {% for watch in data.watches %} {#data.productsForCurrentPage#}
          <div class="col-md-4">
            <div class="computer_img"><a href="{{ url('frica.product_detail', {'idSP': watch.idSP}) }}"><img src="{{ file_url(directory ~ '/images/' ~ watch.img) }}"></a></div>
            <h4 class="computer_text">{{ watch.idLSP }}</h4>
            <div class="computer_text_main">
              <h4 class="dell_text"><a href="{{ url('frica.product_detail', {'idSP': watch.idSP}) }}">{{ watch.name }}</a></h4>
              <h6 class="price_text">${{ watch.promotional_price|number_format(0, '.', ',') }}</h6>
              <h6 class="price_text_1">${{ watch.price|number_format(0, '.', ',') }}</h6>
            </div>
            <div class="cart_bt_1"><a href="{{ url('frica.cart', {'idSP': watch.idSP}) }}">Add To Cart</a></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- section end -->

