<?php
?>
<style>
  .cart_bt_1 form{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff5d68;
    text-align: center;
    padding: 8px 4px;
  }
  .cart_bt_1 button{
    width: 100%;
    float: left;
    font-size: 14px;
    color: #ffffff;
    background-color: #ff5d68;
    text-align: center;
    padding: 8px 4px;
  }
  /* CSS cho form khi hover */
  .cart_bt_1 form:hover {
    background-color: #BBBBBB; /* Màu nền thay đổi khi hover */
  }
  /* CSS cho nút khi hover */
  .cart_bt_1 button:hover {
    background-color: #BBBBBB; /* Màu nền thay đổi khi hover */
    cursor: pointer; /* Biểu tượng con trỏ khi hover */
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
  }
  .pagination a {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  .pagination a:hover {
    background-color: #0056b3;
  }
  .current-page {
    display: inline-block;
    margin: 5px;
    padding: 5px 10px;
    background-color: #0056b3;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
</style>
<!-- computers section start -->
<div class="computers_section layout_padding">
  <div class="container">
    <h1 class="computers_taital">Computer</h1>
  </div>
</div>
<div class="computers_section_2">
  <div class="container-fluid">
    <div class="computer_main">
      <div class="row">
        {% for computer in data.computers %} {#data.productsForCurrentPage#}
          <div class="col-md-4">
            <div class="computer_img"><img src="/drupal-10.1.2/themes/shop/images/{{ computer.img }}"></div>
            <h4 class="computer_text">{{ computer.idLSP }}</h4>
            <div class="computer_text_main">
              <h4 class="dell_text">{{ computer.name }}</h4>
              <h6 class="price_text"><a href="#">${{ computer.promotional_price|number_format(0, '.', ',') }}</a></h6>
              <h6 class="price_text_1"><a href="#">${{ computer.price|number_format(0, '.', ',') }}</a></h6>
            </div>
            <div class="cart_bt_1"><a href="{{ url('frica.cart', {'idSP': computer.idSP}) }}">Add To Cart</a></div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!-- computers section end -->

