{{ attach_library('shop/login-styling') }}
<!-- login section start -->
<br><br><br><br> {#chỉnh lại css#}
<div class="login-form">
  <h2>Đăng nhập</h2>
  <form method="post">
    <div class="form-group">
      <label for="username">Tên đăng nhập:</label>
      {{ data.form.login_username }}
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      {{ data.form.login_password }}
    </div>
    <div class="form-group">
      <div class="send_bt">
        {{ data.form.login_submit }}
      </div>
    </div>
    {{ data.form.form_id }}
    {{ data.form.form_build_id }}
    {{ data.form.form_token }}
  </form>
  <p><a href="{{ url('frica.signup') }}">Đăng ký</a> | <a href="{{ url('frica.forgotpwd') }}">Quên mật khẩu</a></p>
</div>
<!-- login section end -->

