
{{ attach_library('shop/signup-styling') }}
<br><br><br><br>
<div class="signup-form">
  <h2>Đăng ký</h2>
  <form method="POST">
    <div class="form-group">
      <label for="username">Tên người dùng:</label>
      {{ data.form.signup_username }}
    </div>
    <div class="form-group">
      <label for="password">Mật khẩu:</label>
      {{ data.form.signup_password }}
    </div>
    <div class="form-group">
      <label for="name">Họ và tên đầy đủ:</label>
      {{ data.form.signup_name }}
    </div>
    <div class="form-group">
      <label for="phone">Số điện thoại:</label>
      {{ data.form.signup_phone }}
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      {{ data.form.signup_email }}
    </div>
    <div class="form-group">
      <label for="address">Địa chỉ:</label>
      {{ data.form.signup_address }}
    </div>
    <div class="form-group">
      <div class="send_bt">
        {{ data.form.signup_submit }}
      </div>
    </div>
    {{ data.form.form_id }}
    {{ data.form.form_build_id }}
    {{ data.form.form_token }}
  </form>
  <br><br><br><br><br>
  <p>Bạn đã có tài khoản?</p>
  <p><a href="{{ url('frica.login') }}">Đăng nhập</a> | <a href="{{ url('frica.forgotpwd') }}">Quên mật khẩu</a></p>
</div>
